@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.acc-title {
  color: #2F313E;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
}

.acc-body {
  border-radius: 20px;
  background: white;
  color: #6C6c6C;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}


.footer-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
}

.footer-body {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;

  color: #9C9C9C;
}

.footer-end {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  color: #9C9C9C;
}

.fredoka {
  font-family: 'Fredoka';
}

.roboto {
  font-family: 'Roboto';
}